.feedback-container {
    transform: translate(0%, -10%) scale(0.8); 
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    z-index: 11000; 
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
    pointer-events: none;
    max-width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilo cuando es visible */
  .feedback-container.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0%, 9%) scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0s;
  }
  
  /* Estilos específicos por tipo */
  .feedback-container.correct {
    background-color: rgba(40, 167, 69, 0.9);
    border: 2px solid #1a7431;
    width: 800px;
    margin: 0 auto;
  }
  
  .feedback-container.incorrect {
    background-color: rgba(220, 53, 69, 0.9);
    border: 2px solid #a01324;
    width: 800px; 
    margin: 0 auto;
  }
  
  .feedback-title {
    margin: 0 0 10px 0;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Exo', "MyCustomFont", sans-serif;
  }
  
  .feedback-message {
    margin: 0;
    font-size: 1.1em;
    font-family: 'Exo', "MyCustomFont", sans-serif;
  }