
.modal {
    --modal-max-width: 50.375rem;
}

.modal h2 {
    font-size: var(--fs-300);
}

.modal strong {
    color: var(--clr-brand);
}

html[data-dark-mode="true"] .modal strong {
    color: var(--clr-brand-light);
}